:root {
    --kFont: Manrope, sans-serif;
    --primary: #07027e;
    --success: #00c000;
    --danger: #fc0a16;
}

.icon-delete {
    color: red;
    font-size: 3rem;
    font-weight: lighter;
}

.dialog-title {
    margin-top: 1.5rem;
    text-align: center;
    font-family: var(--kFont);
}

.dialog-subtitle {
    margin: 1.5rem 1.5rem 0rem 1.5rem;
    text-align: center;
}

.abtn-margin {
    margin-top: 1.5rem;
}

.wrap-content {
    margin-top: 2rem;
}

.side-icon {
    font-size: 10rem;
    color: var(--primary);
    margin: 5rem;
}

.icon-home {
    margin-bottom: 1rem;
}