.custom-cards {
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.custom-cards-title {
    font-size: 1.125rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}

.custom-cards-body {
    padding: 1.5rem;
}

.custom-cards-desc {
    font-size: 0.812rem;
    font-weight: 400;
    color: #76838f;
}

.kPadding {
    margin: 3.125rem;
    color: blue;
}

.custom-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.content-wrapper {
    margin-top: 120px;
}

.custom-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-cards-center {
    text-align: center;
}

.center {
    text-align: center;
}