:root {
    --kfont: Manrope, sans-serif;
}

.abtn {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    padding-top: 0.875rem;
    padding: 0.875rem 1.5rem;
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: var(--kfont);
}

.abtn-primary {
    background: #07027E;
    color: #ffffff;
}

.abtn-danger {
    background: #fc0a16;
    color: #ffffff;
}

.abtn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.abtn-muted {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    padding-top: 0.875rem;
    padding: 0.875rem 1.5rem;
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: var(--kfont);
    background-color: transparent;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #07027E;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

.kFont-Manrope {
    font-family: var(--kfont);
}

.rate-percentage {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
}