.aa-cards {
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.aa-cards-title {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 800;
    line-height: 22px;
    margin-bottom: 2px;
    font-style: normal;
}

.aa-cards-body {
    padding: 40px;
}

.aa-cards-desc {
    font-size: 14px;
    font-weight: 400;
    color: #76838f;
    margin: 0.8rem 0 0.5rem 0;
}

.kPadding {
    margin: 3.125rem;
    color: blue;
}

.aa-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.content-wrapper {
    margin-top: 120px;
}

.aa-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aa-cards-center {
    text-align: center;
}

.center {
    text-align: center;
}