:root {
    --kFont: Manrope, sans-serif;
    --primary: #07027e;
    --success: #00c000;
    --danger: #fc0a16;
}

.icon-delete {
    color: var(--danger);
    font-size: 3rem;
    font-weight: lighter;
}

.icon-success {
    color: var(--success);
    font-size: 5rem;
}

.dialog-title {
    margin-top: 1.5rem;
    text-align: center;
    font-family: var(--kFont);
    font-weight: bold;
    font-size: 1.75rem;
}

.dialog-subtitle {
    margin: 1.5rem 1.5rem 0rem 1.5rem;
    text-align: center;
}

.abtn-margin {
    margin-top: 1.5rem;
}

.wrap-content {
    margin-top: 2rem;
}

.modal-container {
    padding-top: 1rem;
}

.okay {
    width: 10rem;
    display: block;
    margin: 2rem auto 1rem auto
}

.icon-close {
    float: right;
}